---
import Title from "../Title.astro";
import JuriCriteriaContainer from "./JuriCriteriaContainer";
---

<section class="mx-auto mb-12 w-full md:mb-32">
  <Title> Critérios do Júri </Title>

  <JuriCriteriaContainer client:visible />
</section>
