---
import Title from "../Title.astro";
import JuriCriteriaContainer from "./JuriCriteriaContainer";
---

<section class="mx-auto w-full pb-16 md:max-w-[1024px]">
  <h3 class="w-full text-center text-4xl font-bold md:text-4xl">
    Critérios do Júri
  </h3>
  <JuriCriteriaContainer client:load />
</section>
