---
import ScheduleContent from "./test";
---

<section class="mx-auto w-full pb-16 md:max-w-[1124px]">
  <h3 class="w-full text-left text-4xl font-bold md:text-6xl">
    3 DIAS <br /> HACKATHON
  </h3>
  <p class="max-w-[1080px] pb-12 pt-2 text-left text-xl font-light">
    Ouviste bem! Ao longo de 3 dias vais poder experenciar o ambiente intenso de
    desenvolvimento de uma hackathon para poderes competir por prémios
  </p>
  <ScheduleContent client:load />
</section>
