---
import Title from "../Title.astro";
import ScheduleContainer from "./ScheduleContainer";
---

<>
  <section class="mx-auto md:ml-32 w-full max-w-[1440px] pb-24">
    <h2 class="w-full text-left text-4xl font-bold md:text-6xl">
      3 DIAS <br /> HACKATHON
    </h2>
    <p class="max-w-[1080px] text-left text-xl font-extralight pt-2 pb-12">
      Ouviste bem! Ao longo de 3 dias vais poder experenciar o ambiente intenso
      de desenvolvimento de uma hackathon para poderes competir por prémios
    </p>
    <ScheduleContainer client:load />
  </section>
</>
