---
import ScheduleContent from "./ScheduleSection";
---

<section class="mx-auto w-full px-8 md:max-w-7xl md:px-4">
  <h3 class="w-full text-left text-4xl font-bold uppercase md:text-6xl">
    3 dias <br /> hackathon
  </h3>
  <p class="max-w-[1080px] pb-12 pt-2 text-left text-xl font-light">
    Ouviste bem! Ao longo de 3 dias vais poder experenciar o ambiente intenso de
    desenvolvimento de uma hackathon para poderes competir por prémios
  </p>
  <ScheduleContent client:load />
</section>
