---
import Title from "../Title.astro";
import QuestionsContainer from "./QuestionsContainer";
---

<div>
  <Title>FAQ</Title>

  <section
    class="relative mx-auto min-h-[840px] w-full max-w-[680px] px-8 md:min-h-[680px]"
  >
    <QuestionsContainer client:load />
  </section>
</div>
