---
import Title from "../Title.astro";
import QuestionsContainer from "./QuestionsContainer";
---

<div>
  <Title>FAQ</Title>

  <section class="mx-auto min-h-[520px] w-full max-w-[680px] px-8">
    <QuestionsContainer client:load />
  </section>
</div>
