@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :global(.dark) {
    color-scheme: dark;
  }

  :root {
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary-foreground: 210 40% 98%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --section-card-foreground: 222.2 84% 4.9%;

    --schedule-day-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --text: #000000;
    --background: #e5fcff;
    --primary: #8fb2ff;
    --secondary: #ebf1ff;
    --accent: #mv;
    --muted: #3b3b3b;
    --container: #ffffff;
<<<<<<< HEAD
    --bg-image: url("/svg/bg-light.svg");
    --bg-image-mobile: url("/svg/bg-light-sm.svg");
=======
    --hero-bg: url("/svg/hero-light.svg");
    --section-card: #ebf1ff;
    --schedule-day: #a3a3a3;
>>>>>>> origin/feat/schedule-component

    scroll-behavior: smooth;
  }

  .dark {
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary-foreground: 210 40% 98%;

    --muted-foreground: 215 20.2% 65.1%;

    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --section-card-foreground: 210 40% 98%;

    --schedule-day-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --background: #181818;
    --text: #ffffff;
    --primary: #002470;
    --secondary: #000614;
    --accent: #ff73af;
    --muted: #dedede;
    --container: #3b3b3b;
    --bg-image: url("/svg/bg-dark.svg");
    --bg-image-mobile: url("/svg/bg-dark-sm.svg");
    --hero-bg: url("/svg/hero-dark.svg");
    --section-card: #3b3b3b;
    --schedule-day: #000614;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
