---
import ThemeSwitch from "../navbar/ThemeSwitch.astro";

import { Icon } from "astro-icon/components";
---

<nav class="flex h-[12vh] w-full items-center justify-between px-8">
  <div class="flex items-center gap-x-4">
    <div class="size-8 rounded-lg bg-slate-400"></div>
    <h2 class="text-xl">CodeSpring</h2>
  </div>
  <div class="flex items-center gap-x-4">
    <a
      href="https://instagram.com/nei_isep"
      target="_blank"
      class="rounded-lg border p-2"
    >
      <Icon title="Instagram NEI-ISEP" class="size-5" name="mdi:instagram" />
    </a>
    <ThemeSwitch />
  </div>
</nav>
