<div class="w-full">

    <div class="grid md:grid-cols-3 md:grid-rows-2 grid-rows-4 mb-16">
        <h1 class="font-bold col-span-full text-center md:text-6xl text-5xl my-auto">Objetivos do Evento</h1>
        <div class="col-span-1 my-auto">
            <img src="https://api.iconify.design/material-symbols:target.svg" class="md:w-1/3 w-1/5 invert-0 m-auto dark:invert" />
            <p class="w-2/3 text-center m-auto">
                Resolve um problema conhecido no dia com o recurso às ferramentas que achares mais interessantes. Também podes sempre não fazer nada e beber café à pala, nada temas, meu rapaz.
            </p>
        </div>
        <div class="col-span-1 my-auto">
            <img src="https://api.iconify.design/fluent:people-team-24-regular.svg" class="md:w-1/3 w-1/5 invert-0 m-auto dark:invert" />
            <p class="w-2/3 text-center m-auto">
                Forma a tua equipa até 5 elementos para competir neste evento! Se preferires podes sempre vir sozinho, o importante é divertires-te.
            </p>
        </div>
        <div class="col-span-1 my-auto">
            <img src="https://api.iconify.design/mdi:license.svg" class="md:w-1/3 w-1/5 invert-0 m-auto dark:invert" />
            <p class="w-2/3 text-center m-auto">
                Compete para prémios para os melhores 3 colocados e para os prémios específicos para categorias como melhor pitch e solução mais inovadora.
            </p>
        </div>
    </div>
    
</div>