---
import { Icon } from "astro-icon/components";
---

<div class="w-full">

    <div class="grid md:grid-cols-3 md:grid-rows-2 grid-rows-4 mb-16">
        <h1 class="font-bold col-span-full text-center md:text-6xl text-5xl my-auto">Objetivos do Evento</h1>
        <div class="col-span-1 my-auto">
            <Icon name="material-symbols:target" class="lg:h-24 lg:w-24 mb-6 w-20 h-20 dark:invert-0 m-auto invert" />
            <p class="w-2/3 text-center m-auto">
                Resolve um problema conhecido no dia com o recurso às ferramentas que achares mais interessantes. Também podes sempre não fazer nada e beber café à pala, nada temas, meu rapaz.
            </p>
        </div>
        <div class="col-span-1 my-auto">
            <Icon name="fluent:people-team-24-regular" class="lg:h-24 lg:w-24 mb-6 w-20 h-20 dark:invert-0 m-auto invert" />
            <p class="w-2/3 text-center m-auto">
                Forma a tua equipa até 5 elementos para competir neste evento! Se preferires podes sempre vir sozinho, o importante é divertires-te.
            </p>
        </div>
        <div class="col-span-1 my-auto">
            <Icon name="mdi:license" class="lg:h-24 lg:w-24 mb-6 w-20 h-20 dark:invert-0 m-auto invert" />
            <p class="w-2/3 text-center m-auto">
                Compete para prémios para os melhores 3 colocados e para os prémios específicos para categorias como melhor pitch e solução mais inovadora.
            </p>
        </div>
    </div>
    
</div>