---
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();
const NEI_WEBSITE_URL = "https://nei-isep.org";
---

<footer
  class="z-10 mx-auto mb-16 mt-32 flex w-5/6 flex-col items-center justify-center text-center"
>
  <div class="z-10 mb-8 flex items-center justify-center">
    <div
      class="max-h-[250px] max-w-[250px] transition-all duration-300 hover:scale-105 md:max-h-[200px] md:max-w-[350px]"
    >
      <a href={NEI_WEBSITE_URL} target="_blank" rel="noreferrer">
        <img
          class="drop-shadow-3xl hover:drop-shadow-4xl mx-auto block h-auto max-w-full invert transition-all duration-300 dark:invert-0"
          src="/nei-logo.png"
          alt="Logo branco do Núcleo de Estudantes de Informática do ISEP (NEI)"
        />
      </a>
    </div>
  </div>

  <div class="z-10 my-8 flex items-center justify-center gap-4 lg:gap-8">
    <a
      class="drop-shadow-3xl hover:drop-shadow-4xl text-white transition-all duration-300 hover:scale-110 hover:drop-shadow-[0px_0px_15px_rgb(0,100,255)]"
      href="https://www.facebook.com/nei.isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="mdi:facebook" class="h-8 w-8 invert dark:invert-0" />
    </a>
    <a
      class="drop-shadow-3xl hover:drop-shadow-4xl text-white transition-all duration-300 hover:scale-110 hover:drop-shadow-[0px_0px_15px_rgb(29,161,242)]"
      href="https://twitter.com/nei_isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="mdi:twitter" class="h-8 w-8 invert dark:invert-0" />
    </a>
    <a
      class="drop-shadow-3xl hover:drop-shadow-4xl text-white transition-all duration-300 hover:scale-110 hover:drop-shadow-[0px_0px_20px_rgb(255,0,100)]"
      href="https://www.instagram.com/nei_isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="mdi:instagram" class="h-8 w-8 invert dark:invert-0" />
    </a>
    <a
      class="drop-shadow-3xl hover:drop-shadow-4xl text-white transition-all duration-300 hover:scale-110 hover:drop-shadow-[0px_0px_15px_rgb(14,118,168)]"
      href="https://www.linkedin.com/company/nei-isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="mdi:linkedin" class="h-8 w-8 invert dark:invert-0" />
    </a>
    <a
      class="drop-shadow-3xl hover:drop-shadow-4xl text-white transition-all duration-300 hover:scale-110 hover:drop-shadow-[0px_0px_15px_rgb(14,118,250)]"
      href="https://github.com/Nucleo-Estudantes-Informatica-ISEP/codespring-2024"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="mdi:github" class="h-8 w-8 invert dark:invert-0" />
    </a>
  </div>

  <h4
    class="text-md drop-shadow-3xl z-10 select-none py-6 text-center uppercase md:text-xl"
  >
    Copyright &copy; {currentYear} NEI-ISEP. All rights reserved.
  </h4>
</footer>
