---
import Navbar from "./navbar/Navbar.astro";
---

<main>
  <Navbar />

  <div
    class="flex h-[72vh] w-full flex-col items-center justify-center px-32 md:h-[68vh]"
    id="hero"
  >
    <div
      class="grid grid-cols-1 grid-rows-3 items-center justify-items-center md:grid-cols-3 md:grid-rows-2 md:items-end md:justify-items-start"
    >
      <h1 class="text-4xl leading-none md:text-7xl">CodeSpring</h1>
      <p
        class="mb-0 rounded-lg bg-transparent px-2 py-1 text-center text-lg md:mb-1 md:bg-container md:px-4 md:py-2 md:text-3xl"
      >
        21-23 março
      </p>
      <h2 class="text-6xl font-bold leading-none text-accent md:text-[120px]">
        Hackathon
      </h2>
    </div>
    <div class="grid w-full items-center justify-items-center md:w-fit">
      <a
        class="flex w-full items-center justify-center rounded-lg bg-primary p-2 text-center text-lg font-bold sm:p-3 md:w-fit md:p-4 md:text-2xl"
        href="#">Inscreve-te gratuitamente</a
      >
      <p
        class="w-full max-w-[320px] text-center font-archivo font-light leading-5 text-muted md:text-left"
      >
        Um evento destinado a todos os interessados em informática e
        programação.<br />
        Vem provar as tuas habilidades ao longo de 2 dias intensos.
      </p>
    </div>
  </div>
</main>

<style>
  #hero > div:first-child {
    grid-template-areas: "title title date" "hackathon hackathon hackathon";
  }

  #hero > div:first-child h1 {
    grid-area: title;
  }

  #hero > div:first-child p {
    grid-area: date;
  }

  #hero > div:first-child h2 {
    grid-area: hackathon;
  }

  #hero > div + div {
    grid-template-areas: "button text";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 0 2rem;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    #hero > div + div {
      grid-template-areas: "text" "button";
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      gap: 1rem 0;
      margin-top: 2rem;
    }

    #hero > div:first-child {
      grid-template-areas: "title" "hackathon" "date";
    }
  }

  #hero > div + div a {
    grid-area: button;
  }

  #hero > div + div p {
    grid-area: text;
  }
</style>
