---
import Navbar from "./navbar/Navbar.astro";
---

<main class="min-h-screen">
  <Navbar />

  <div
    id="hero"
    class="flex h-[82vh] w-full flex-col items-center justify-center"
  >
    <div
      class="grid w-full items-center justify-items-center md:w-fit md:justify-items-start"
    >
      <h1 class="col-span-2 text-5xl leading-none md:text-7xl">CodeSpring</h1>
      <p class="rounded-lg bg-container px-4 py-2 text-center text-3xl">
        12-14 abril
      </p>
      <h2
        class="mb-3 text-6xl font-bold leading-none text-accent md:text-[120px]"
      >
        Hackathon
      </h2>
    </div>
    <div class="grid w-full items-center justify-items-center md:w-fit">
      <a
        class="flex w-3/4 items-center justify-center rounded-lg bg-primary p-2 text-center text-lg font-bold sm:p-4 md:w-fit md:p-4 md:text-2xl"
        href="https://docs.google.com/forms/d/1WhyoDszdGaPxhM4H4XzXfQY-G6zcf0udLkZUXy3nFY0"
      >
        Inscreve-te gratuitamente
      </a>
      <p
        class="w-full max-w-[320px] bg-background text-center font-archivo font-light leading-5 text-muted md:text-left"
      >
        ISEP, 2 dias, no sleep, code and repeat. Uma competição destinada a
        todos os interessados em informática e programação, na qual a partir de
        um tema surpresa, irás ter que desenvolver a melhor solução. Are you up
        for the challenge?
      </p>
    </div>
  </div>
</main>

<style>
  #hero > div:first-child {
    grid-template-areas: "title title date" "hackathon hackathon hackathon";
  }

  #hero > div:first-child h1 {
    grid-area: title;
  }

  #hero > div:first-child p {
    grid-area: date;
  }

  #hero > div:first-child h2 {
    grid-area: hackathon;
  }

  #hero > div + div {
    grid-template-areas: "button text";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 0 2rem;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    #hero > div + div {
      grid-template-areas: "text" "button";
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      gap: 1rem 0;
      margin-top: 2rem;
    }

    #hero > div:first-child {
      grid-template-areas: "title" "hackathon" "date";
    }
  }

  #hero > div + div a {
    grid-area: button;
  }

  #hero > div + div p {
    grid-area: text;
  }
</style>
