<div class="my-8 w-full text-center text-4xl font-bold md:my-16 md:text-6xl">
  <span class="text-accent"
    >Clica
    <a
      href="https://drive.google.com/drive/u/1/folders/1mVu1DgbJVmC93NZE6t6MhhREayz5_i_I"
    >
      <span class="text-black dark:text-white">aqui</span>
    </a>
    para veres as fotos!
  </span>
</div>
