---

---

<section
  class="mx-auto mb-16 flex h-full w-full flex-col items-center gap-y-8 md:w-1/2 md:px-8"
>
  <a
    class="rounded-lg bg-primary p-4 text-center text-lg font-bold md:w-fit md:px-12 md:py-6 md:text-2xl"
    href="/problem"
    target="_blank"
    rel="noreferrer"
  >
    O Problema
  </a>

  <p class="bg-background text-center text-xl">
    Carrega aqui para saberes mais!
  </p>
</section>
