---
import Title from "./Title.astro";
---

<section
  class="mx-auto mb-16 flex h-full w-full flex-col items-center gap-y-8 md:w-1/2 md:px-8"
>
  <Title>Registo</Title>
  <a
    class="rounded-lg bg-primary p-4 text-center text-lg font-bold md:w-fit md:px-8 md:py-6 md:text-2xl"
    href="https://docs.google.com/forms/d/1WhyoDszdGaPxhM4H4XzXfQY-G6zcf0udLkZUXy3nFY0"
    target="_blank"
  >
    Inscreve-te gratuitamente
  </a>

  <p class="text-balance bg-background text-center">
    Prontos para este desafio? Clica no botão acima e serás redirecionado para o
    formulário de inscrição. Preenche com as tuas informações e as informações
    da tua equipa, de forma a conseguirmos garantir o teu lugar nesta
    competição!
  </p>
</section>
