---
import Stats from './Stats.astro'
---


<div id= "stat" class="flex grid grid-cols-3 justify-between font-sans">
  <div id= "stat" class="font-bold justify-center">
    <span id="value" class="text-2xl text-pink-400">48</span>
    <span id="label" class="text-sm text-white">horas</span>
  </div>

  <div id= "stat" class="font-bold justify-center">
    <span id="value" class="text-2xl text-pink-400">6+</span>
    <span id="label" class="text-sm text-white">empresas</span>
  </div>

  <div id="stat" class="font-bold justify-center">
    <span id="value" class="text-2xl text-pink-400">60+</span>
    <span id="label" class="text-sm text-white">participantes</span>
  </div>
</div>
