---
import Lamp from "./Lamp";
import ProblemStats from "./ProblemStats";
---

<section class="min-h-[80vh]">
  <Lamp client:only />
</section>

<section class="min-h-[80vh]">
  <ProblemStats />
</section>
