<main class="min-h-[100vh]">
  <div class="flex h-[68vh] w-full flex-col items-center justify-center">
    <div class="grid w-full items-center justify-items-center md:w-fit">
      <h2 class="text-6xl leading-none md:text-[80px]">Saúde</h2>
    </div>
  </div>
</main>
