---
import Title from "../Title.astro";
import StatsContainer from "./Stats";
---

<section class="mx-auto w-full max-w-[680px] px-8">
  <Title>Estatísticas</Title>

  <StatsContainer client:visible />
</section>
