---
import Navbar from "../navbar/Navbar.astro";
import FortuneQuote from "./FortuneQuote";
---

<main class="min-h-screen">
  <Navbar />

  <div class="flex h-[82vh] w-full items-center justify-center">
    <FortuneQuote client:load />
  </div>
</main>
